<div class="container py-5">
    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
            <div class="title">
                <h1>Avaliable Book's</h1>
            </div>
        </div>
    </div>
   
    <div class="enable-button">
        <button class ="btn btn-lg btn-dark" (click)="enableBuying()">Enable/Disable Availability</button>
    </div>

   
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <ul class="list-group shadow">    
                <div *ngFor="let product of products">
                <li class="list-group-item">
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <a [routerLink]="['/products', product.id]" style='font-size: 25px;' class="mt-0 font-weight-bold mb-2">{{product.name}}</a>
                            <div>
                                <div class="text">
                                    <p style="text-align:left" class="font-italic text-muted mb-0 small">{{product.description}}</p>
                                </div>
                                <img src={{product.imgaddress}} alt="Generic placeholder image" class="ml-lg-5 order-1 order-lg-2">
                            </div>
                            
                            <app-price-details [product]="product" ></app-price-details>
                            <app-alert-details [product]="product" [notVisible]=notVisible (notify)="clickMe(product)" (nnotify)="nclickMe(product)"></app-alert-details>
   
                        </div>
                    </div> 
                </li> 
                </div>
            </ul> 
        </div>
    </div>   
</div>
